[submodule "public"]
	path = public
	url = https://github.com/sriramkandukuri/blinks.git
	branch = master
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/sriramkandukuri/docsy.git
	branch = blinks-dev
