+++
title = "LNTSK"
linkTitle = "LNTSK"

+++

{{< blocks/cover title="Welcome to LNTSK" image_anchor="top" height="full" width="full" color="primary-light">}}

<div class="mx-auto">
    <p class="font-weight-bold mt-3" style="font-size:45px; text-align:right;">
    <span style="color:#F6AE2D; font-size:55px">L</span><span>earn </span>
    <span style="color:#F6AE2D; font-size:55px">N</span><span>ew </span>
    <span style="color:#F6AE2D; font-size:55px">T</span><span>hings</span>
    </p>
    <p class="font-weight-bold font-italic mt-3" style="font-size:25px; text-align:right;">
    <span>...... by </span>
    <span style="color:#F6AE2D; font-size:35px">S</span><span>riram</span>
    <span style="color:#F6AE2D; font-size:35px">K</span><span>andukuri</span>
    </p>
    <div align="right">
        <a class="btn btn-lg btn-secondary mr-3 mb-4" style="color:$dark; text-shadow:none;" href="{{< relref "/linux" >}}">
            Explore <i class="fas fa-arrow-alt-circle-right ml-2"></i>
        </a>
    </div>
    <!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" style="color:$dark; text-shadow:none" href="https://github.com/google/docsy-example"> -->
    <!-- 	Download <i class="fab fa-github ml-2 "></i> -->
    <!-- </a> -->
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<div class="mx-auto">
</div>
{{% /blocks/lead %}}


<!-- {{% blocks/lead color="cplt4" %}} -->
<!-- Goldydocs provides a single web UI providing visibility into porridge temperature, chair size, and bed softness metrics! You can even find out who's been eating **your** porridge. -->

<!-- (Sadly, Goldydocs isn't a real project, but you can use this site as an example to create your own real websites with [Docsy](http://docsy.dev)) -->
<!-- {{% /blocks/lead %}} -->

{{< blocks/section color="cplt3" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="cplt1">}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section color="cplt4">}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{% blocks/lead color="cplt2" %}}

Disclaimer

LNTSK is a hugo based wesite.

Used google [ docsy ](https://github.com/google/docsy) as base theme, with several customizations
for enabling dark theme.

Cover image is downloaded from google.
{{% /blocks/lead %}}
