+++
title = "BLINKS"
linkTitle = "BLINKS"

+++

{{< blocks/cover title="Welcome to BLINKS" image_anchor="top" height="min" width="full" color="primary-light">}}
<div class="mx-auto">
    <p class="font-weight-bold mt-3" style="font-size:35px; text-align:center;">
    <span style="color:#F6AE2D; font-size:55px">B</span><span>eing </span>
    <!-- </p> -->
    <!-- <p class="font-weight-bold mt-3" style="font-size:35px; text-align:left;"> -->
    <span style="color:#F6AE2D; font-size:55px">Li</span><span>ght</span>
    </p>
    <p class="font-weight-bold mt-3" style="font-size:35px; text-align:center;">
    <span> ... </span>
    <span style="color:#F6AE2D; font-size:55px">n</span>
    <span> ... </span>
    </p>
    <p class="font-weight-bold font-italic mt-3" style="font-size:35px; text-align:center;">
    <span style="color:#F6AE2D; font-size:55px">K</span><span>nowing</span>
    <!-- </p> -->
    <!-- <p class="font-weight-bold font-italic mt-3" style="font-size:35px; text-align:left;"> -->
    <span style="color:#F6AE2D; font-size:55px">S</span><span>ubtle</span>
    </p>
    <div align="right">
        <a class="btn btn-lg btn-secondary mr-3 mb-4" style="color:$dark; text-shadow:none;" href="{{< relref "/linux" >}}">
            Explore <i class="fas fa-arrow-alt-circle-right ml-2"></i>
        </a>
    </div>
    <!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" style="color:$dark; text-shadow:none" href="https://github.com/google/docsy-example"> -->
    <!-- 	Download <i class="fab fa-github ml-2 "></i> -->
    <!-- </a> -->
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
**BLINKS** are small and crisp learning articles containing important information around a topic. 

One could be able to understand something in a limited number of blinks... 
{{% /blocks/lead %}}


{{< blocks/section color="cplt3" >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/sriramkandukuri/blinks" %}}
We do a [Pull Request](https://github.com/sriramkandukuri/blinks/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/sriramkandukuri" %}}
For announcement of latest posts.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="cplt1">}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section color="cplt4">}}

<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

<!-- {{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}} -->
<!-- Get the Goldydocs app! -->
<!-- {{% /blocks/feature %}} -->


<!-- {{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}} -->
<!-- We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome! -->
<!-- {{% /blocks/feature %}} -->


<!-- {{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}} -->
<!-- Get the Goldydocs app! -->
<!-- {{% /blocks/feature %}} -->


<!-- {{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}} -->
<!-- We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome! -->
<!-- {{% /blocks/feature %}} -->


<!-- {{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}} -->
<!-- For announcement of latest features etc. -->
<!-- {{% /blocks/feature %}} -->


{{< /blocks/section >}}


{{% blocks/lead color="cplt2" align="text-left" %}}

## Disclaimer
- BLINKS is a hugo based wesite.
- Used google [ docsy ](https://github.com/google/docsy) as base theme, with several customizations for enabling dark theme.  
- Cover image is downloaded from google.
{{% /blocks/lead %}}
